<%= form_for @user do |f| %>
  <%= render 'shared/error_messages' %>
  <!-- <%= render 'shared/error_messages', :object=>f.object %> -->
  <%= f.hidden_field :karma %>
  <div>
    <%= f.label :first %>
    <%= f.text_field :first %>
    <%= f.label :last %>
    <%= f.text_field :last %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit 'save user' %>
  </div>
<% end %>
