<div>
	<%= link_to "#{user.first} #{user.last}", user_path(user) %> (<%= user.email %>) karma: <%= user.karma %>
  <% if current_user.admin? and !current_user?(user) %>
     | <%= link_to 'edit', edit_user_path(user) %> | <%= link_to "delete", user, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %>
</div>
