<% provide :title, "#{@user.first} #{@user.last}" %>

<aside>
  <section>
    <%= gravatar_for @user %>
    <h1><%= @user.first %> <%= @user.last %> (<%= @user.email %>)</h1>
  </section>
</aside>

<div>
	<h3>solved exercises - TBD TBD TBD</h3>
</div>

<div>
	<%= link_to 'all users', users_path %> | <%= link_to "edit #{@user.first} #{@user.last}", edit_user_path(@user) %> | <%= link_to "delete #{@user.first} #{@user.last}", @user, :method=>:delete, :data=>{:confirm=>'are you sure?'} %>
</div>
