<% provide :title, "#{@user.first} #{@user.last}" %>

<aside>
  <section>
    <%= gravatar_for @user %>
    <h1><%= @user.first %> <%= @user.last %> (<%= @user.email %>)</h1>
  </section>
</aside>

<div>
  <ul>
    <% if @user.solutions.any? %>
      <h3>Solutions (<%= @user.solutions.count %>)</h3>
      <ul class="solutions">
        <%= render @solutions %>
      </ul>
      <%= will_paginate @solutions %>
    <% else %>
      <h3>This user hasn't solved any exercises yet!</h3>
    <% end %>
  </ul>
</div>

<div>
	<%= link_to 'all users', users_path %> 
  <% if current_user.admin? or current_user?(@user) %>
    | <%= link_to "edit #{@user.first} #{@user.last}", edit_user_path(@user) %> | <%= link_to "delete #{@user.first} #{@user.last}", @user, :method=>:delete, :data=>{:confirm=>'are you sure?'} %> 
  <% end %>
</div>
