<% provide :title, @exercise.name %>

<h2>Exercise: <%= @exercise.name %></h2>

<div>
  <p>FEN position string:</p>
  <%= @exercise.fen_position %>
</div>

<h3>Solutions (<%= @solutions.count %>)</h3>
<ul>
  <%= render @solutions %>
</ul>

<p><%= link_to 'solve exercise', new_exercise_solution_path(@exercise), :class=>'btn btn-large btn-primary' %></p>
<p><%= link_to 'all exercises', exercises_path %></p>