<h3>new solution</h3>

<%= form_for @solution do |form| %>
  <%= render 'shared/error_messages', :object=>form.object %>
  <%= form.hidden_field :exercise_id %>
  <div>
    <%= form.label :move_string %>
    <%= form.text_field :move_string %>
  </div>
  <div>
    <%= form.submit 'save solution', :class=>'btn btn-large btn-primary' %>
  </div>
<% end %>
